body {
  background-color: #FFEFCB;
  margin: 100px, 200px;
}

h1, h2, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: bolder;
}

/* h6 {
  font-family: sans-serif;
  font-weight: bolder;
} */

h1.centerTitle {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}
.postDress {
  border-radius: 1%;
  border-width: 2px;
  border-style: inset;
  border-color: grey;
  margin-left: 10%;
  margin-right: 10%;
  width: 20;
  height: auto;
  word-wrap: break-word;
  padding: 20px;
}
h3 {
  font-family: serif;
  font-weight: normal;
}
.tileButton {
  height: 300px;
  width: 300px;
  border-width: thick;
}

.titleText {
  width: 300px;
  text-align: center;
}

/* .cleared {
  visibility: hidden;
} */

/* .textBox {
  margin: 20px;
  display: inline-block;
} */

.postMainText {
  text-align: center;
  font-family: serif;
  font-size: 1.8rem;
}

.postDress:hover {
  background-color: #F8F0E3;
  border-color: black;
}

.sectionDiv {
  margin-bottom: 20px;
}

.navbar {
  background-color: #F8F0E3;
}

.title {
  font-family: sans-serif;
  font-weight: bold;
}

.compose {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 200px;
}

footer {
  margin-top: 200px;
}
