.buttonsDiv {
  display: flex;
  width:100% !important;
  margin: auto;
  vertical-align: middle;
  flex-direction: column;

  justify-content: space-around;
  align-content: space-around;
  justify-items: space-around;
  align-items: space-around;
}

.buttonDiv {
  display: flex;
  width: 100%;
  /* justify-content: space-between;
  align-content: space-between;
  justify-items: space-between;
  align-items: space-between; */
}

.button {
  width: 100%;
  margin: auto;
  height: 10vh;
  border-radius: 20px;

  justify-content: space-between;
  align-content: space-between;
  justify-items: space-between;
  align-items: space-between;
}
